{#
/**
 * WebLinks
 * =========================================================================================================
 *
 * Basic template application
 * Each template will inherit this base
 * 
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Baptiste Pesquet
 */
#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A silex application - WebLinks Manager">
    <meta name="keywords" content="Silex, Twig, Doctrine, Symfony, HTML5, Bootstrap">
    <meta name="author" content="Christophe Malo">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>WebLinks - {% block title %}{% endblock %}</title>
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ app.request.basepath }}/css/weblinks.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">WebLinks</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    {% if app.user and is_granted('ROLE_USER') %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('link_submit') }}">Submit link</a></li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                        {% endif %}
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('login') }}">Log in</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>
        {% autoescape %}
        <section id="content">{% block content %}{% endblock %}</section>
        {% endautoescape %}
    
        <footer class="footer row">
            <p><a href="https://github.com/ChristopheMalo/WebLinks"><strong>WebLinks</strong></a> is a minimalist Web application type management weblinks</p>
            <p><strong>2 User test accounts:</strong> 'Log: JohnDoe - Pass: john // Log: JaneDoe - Pass: jane'</p>
            <p>Admin test account: ask me if you want to test the administration interface</p>
            <p><img src="https://insight.sensiolabs.com/projects/526e9707-98c2-4a79-9524-1974d7365824/big.png" alt="Medal"></p>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.1.min.js"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
